@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: #cbd5e1;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #64748b;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  background-color: #f1f5f9;
  max-width: 500px;
}

.block#first-child {
  margin: 30px 0;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  color: #1f2937;
  background-color: #f1f5f9;
  padding: 24px 0;
  width: 100%;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

textarea {
  border: 1px solid #64748b;
  background-color: #f8fafc;
  padding: 16px;
  margin-bottom: 28px;
  width: 350px;
  height: 100px;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  color: #1f2937;
  resize: none;
  border-radius: 8px;
  transition: box-shadow 0.25s;
}

textarea:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

textarea:focus {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.08);
}
