@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: #f8fafc;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #475569;
  width: 100%;
  text-align: center;
}

.header h1 {
  font-size: 28px;
  font-weight: 500;
  color: #f8fafc;
  padding: 20px 0;
}

.header p {
  color: #f8fafc;
  margin-bottom: 20px;
}

.content {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.left,
.right {
  width: 50%;
  margin: 0 30px;
}

.left {
  margin-right: 15px;
}

.right {
  margin-left: 15px;
}

@media screen and (max-width: 1300px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .left,
  .right {
    width: calc(70% - 32px);
    margin: 0;
  }
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  border-radius: 8px;
  margin: 10px 0;
}

.block h2 {
  font-size: 24px;
  width: 100%;
  font-weight: 500;
  color: #1f2937;
  margin: 10px 0;
  border-radius: 8px 8px 0 0;
}

.block p {
  margin: 6px 0 20px 0;
  width: 100%;
}

textarea {
  border: 1px solid #64748b;
  background-color: #f8fafc;
  padding: 16px;
  margin-bottom: 10px;
  width: calc(100% - 32px);
  height: 100px;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  color: #1f2937;
  resize: none;
  border-radius: 8px;
  transition: box-shadow 0.25s;
}

textarea:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

textarea:focus {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.08);
}

textarea::placeholder {
  color: #9ca3af;
}

p#terminal {
  background-color: #1e293b;
  color: #f8fafc;
  width: calc(100% - 32px);
  padding: 12px 16px;
}

.showCodeBtn {
  background-color: #cbd5e1;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 6px;
  transition: all 0.2s;
}

.showCodeBtn:hover {
  background-color: #d0d9e3;
  cursor: pointer;
}

table {
  border: 1px solid #d1d5db;
  border-collapse: collapse separate;
  background-color: #f9fafb;
  border-radius: 8px;
  margin: 6px 0 10px 0;
}

thead tr th {
  padding: 12px;
  vertical-align: middle;
  text-align: left;
  font-weight: 500;
}

tbody tr td {
  padding: 10px 12px;
}

.right .block p {
  margin-bottom: 10px;
}
